#============= system_server ==============
allow system_server efs_file:dir search;
allow system_server app_efs_file:dir { search };
allow system_server touchpanel_sysfs:file rw_file_perms;
allow system_server touchpanel_sysfs:dir { search };
allow system_server sensors_efs_file:file { open read };
allow system_server sysfs_vibeamp:dir search;
allow system_server sysfs_vibeamp:file { getattr open read write };
allow system_server wifi_efs_file:dir search;
allow system_server wifi_efs_file:file r_file_perms;
allow system_server app_data_file:file rename;
allow system_server persist_file:file { getattr open write };
allow system_server sysfs_sec:dir search;
allow system_server sysfs_sec:file { getattr open read write };
